numpy
opencv-python
RPi.GPIO
smbus
adafruit-circuitpython-bme280
adafruit-circuitpython-mpu6050
adafruit-circuitpython-sgp30
pyserial
picamera2
Adafruit-Blinka
Flask
Adafruit_DHT
adafruit-circuitpython-motorkit
csv
time
sys
os
signal
threading
