numpy
opencv-python
RPi.GPIO
smbus
adafruit-circuitpython-bme280
adafruit-circuitpython-mpu6050
adafruit-circuitpython-sgp30
pyserial
picamera2
board
curses
cv2
threading
csv
from flask import Flask, Response
signal
sys
time
os
RPI.GPIO as GPIO
adafruit_dht
busio
from adafruit_motorkit import MotorKit
